* {
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 100%;
    background-color: grey;
}

.bar-degrade {
    box-shadow: 0 1px 15px 1px rgba(57, 49, 74, .5);
    background: linear-gradient(135deg, #736cc7 21%, #3190f0 100%, #3190f0 100%);
    padding: 8px 15px;
    text-align: center;
}

#geolocation {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4286F5;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: white;
    border: none;
    -webkit-box-shadow: 3px 4px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 15px -6px rgba(0, 0, 0, 0.75);
}

#geolocation:hover {
    border: none;
}

@-moz-keyframes pulsate {
    from {
        -moz-transform: scale(0.25);
        opacity: 1.0;
    }

    95% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }

    to {
        -moz-transform: scale(0.3);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    from {
        -webkit-transform: scale(0.25);
        opacity: 1.0;
    }

    95% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }

    to {
        -webkit-transform: scale(0.3);
        opacity: 0;
    }
}

/* get the container that's just outside the marker image, 
    which just happens to have our Marker title in it */
#map div[title="Mi ubicación"] {
    -moz-animation: pulsate 1.5s ease-in-out infinite;
    -webkit-animation: pulsate 1.5s ease-in-out infinite;
    border: 1pt solid #fff;
    /* make a circle */
    -moz-border-radius: 51px;
    -webkit-border-radius: 51px;
    border-radius: 51px;
    /* multiply the shadows, inside and outside the circle */
    box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    /* set the ring's new dimension and re-center it */
    height: 51px !important;
    margin: -18px 0 0 -18px;
    width: 51px !important;
    left: -7px !important;
    top: -7px !important;
}

/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*	#map div[style*="987654"][title] img {*/
#map div[title="Mi ubicación"] img {
    display: none;
}

/* compensate for iPhone and Android devices with high DPI, add iPad media query */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (device-width: 768px) {
    #map div.gmnoprint[title="Mi ubicación"] {
        margin: -10px 0 0 -10px;
    }
}